@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
    <a class="btn btn-primary" asp-area="Customer" asp-controller="Home" asp-action="Index" >Back to Home Page</a>
</header>
